{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/gouttedoodle/css/style.css') }}">
{% endblock %}

{% block body %}

<header>

  <div id="whoami" class="contentFrame">
    <h1>A<span class="discreet">ntoine</span> G<span class="discreet">outenoir</span></h1>
    <h2><span class="discreet">Thinker, WebSmith</span></h2>
  </div>

</header>

<div role="main">

  <canvas id="doodleCanvas" resize></canvas>

</div>

<footer>

</footer>

{% endblock %}


{% block javascripts %}
<script type="text/paperscript" src="{{ asset('bundles/gouttedoodle/js/paperscript.js') }}" canvas="doodleCanvas"></script>
{% endblock %}

