{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/gouttedoodle/compass/stylesheets/views/doodle.css') }}" />
{% endblock %}

{% block body %}

<header>

  <div id="whoami" class="contentFrame">
    <h1>A<span class="discreet">ntoine</span> G<span class="discreet">outenoir</span></h1>
    <h2><span class="discreet">Thinker, WebSmith</span></h2>
  </div>

</header>

<div role="main">

  <a id="shareOnGithub" href="https://github.com/Goutte/antoine.goutenoir.com">
    <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
  </a>

  <canvas id="doodleHolderCanvas" resize></canvas>
  <canvas id="doodleCanvas" resize></canvas>

  <div id="controls">
    <form action="#" id="formSend" class="hiddenSmall">
      <p>
        <strong>I will be notified of your doodle.</strong><br />
        Do you want to attach a message?
      </p>
      {#<input type="text" name="title" value="" size="20" /><br />#}
      <textarea name="message" rows="10"></textarea><br />
      <input type="submit" value="SEND" />
    </form>
    <a href="#" id="buttonSend" class="hiddenSmall button">SEND</a>
    <a href="#" id="buttonView" class="hiddenSmall button" target="_blank" >VIEW</a>
    <a href="#" id="buttonDown" class="hiddenSmall button">DL</a>
    <a href="#" id="buttonUndo" class="hiddenSmall button" title="[z] Undo the last path">UNDO</a>
    <a href="#" id="buttonSave" class="hiddenSmall button">SAVE</a>
  </div>

  <div id="notifications"></div>

</div>

<footer>

</footer>

{% endblock %}


{% block javascripts %}
{#<script type="text/paperscript" src="{{ asset('bundles/gouttedoodle/js/paperscript.js') }}" canvas="doodleCanvas"></script>#}
{#<script type="text/paperscript" src="{{ asset('bundles/gouttedoodle/js/doodleHolderPaperScript.js') }}" canvas="doodleHolderCanvas"></script>#}
<script type="text/javascript"  src="{{ asset('bundles/gouttedoodle/js/script.js') }}"></script>
{% endblock %}

