/** SHARE ON GITHUB **/

#shareOnGithub {

  img {
    position: absolute;
    top:    0;
    right:  0;
    border: 0;
    z-index: 40;
    @include slick;
  }

  &:hover img,
  &:active img {
    top:   -10px;
    right: -10px;
  }
}

/** CHROME FRAME PROMPT **/

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}