{% extends 'base.html.twig' %}

{% block title %}Hello DrawingController!{% endblock %}

{% block body %}
<style>
    .hero-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="hero-wrapper">
    <h1>Your doodle was sent ! ✅</h1>

    Thank you.

    Get in touch by <a href="mailto:antoine@goutenoir.com">e-mail</a>,
    on the <a href="https://mastodon.social/@Goutte">Fedi</a>,
    <a>Linkedin</a>, or <a href="https://github.com/Goutte">Github</a>.
</div>
{% endblock %}
