{% extends 'base.html.twig' %}

{% block title %}Websmith{% endblock %}

{% block body %}

    <div role="main">

{#        <a id="shareOnGithub" href="https://github.com/Goutte/antoine.goutenoir.com">#}
{#            <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />#}
{#        </a>#}

        {# Canvas holding the doodle's splines (all but current) -#}
        {# camelCase id because of paperjs shenanigans (?) -#}
        <canvas id="doodleHoldingCanvas" resize></canvas>
        {# Canvas holding only the currently drawn doodle's spline -#}
        {# Raster is quite expensive, so we win a big bunch of FPS -#}
        {# Tabindex enables keydown events (to get UNDO on CTRL+Z) -#}
        <canvas id="doodleDrawingCanvas" resize tabindex='1'></canvas>

        <div id="send-drawing-wrapper">{# helps with absolute positioning #}
        <div id="send-drawing-container">
            <div id="doodle-controls">
                <input type="button" id="control-undo" value="Undo" />
            </div>
{#            <input type="button" id="control-vortex" value="&#127786;" />#}
            <hr>
            <form action="/drawings" method="post" id="send-drawing-form">
                <label for="send-drawing-who">
                    Who are you ?
                </label>
                <p>
                    <textarea id="send-drawing-who" name="who" rows="5" cols="42"></textarea>
                </p>
                <br>
                <label for="send-drawing-what">
                    What do you want ?
                </label>
                <p>
                    <textarea id="send-drawing-what" name="what" rows="9" cols="42"></textarea>
                </p>
                <input id="send-drawing-image" type="hidden" name="doodle" />
                <input type="submit" value="Submit" />
            </form>
{#            <a href="#" id="buttonSend" class="hiddenSmall button" title="Send it to me along with a message"></a>#}
{#            <a href="#" id="buttonView" class="hiddenSmall button" title="View doodle in new tab" target="_blank" ></a>#}
{#            <a href="#" id="buttonDown" class="hiddenSmall button" title="Download as PNG"></a>#}
{#            <a href="#" id="buttonUndo" class="hiddenSmall button" title="[z] Undo the last path"></a>#}
{#            <a href="#" id="buttonSave" class="hiddenSmall button" title="Save your doodle to /dev/floppy"></a>#}
        </div>

        </div>

        <div id="notifications"></div>

    </div>

    <script type="application/javascript" src="{{ asset('js/paper.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/doodle.js') }}"></script>
    <script type="text/paperscript" src="{{ asset('js/drawing-paperscript.js') }}" canvas="doodleDrawingCanvas"></script>
    <script type="text/paperscript" src="{{ asset('js/holding-paperscript.js') }}" canvas="doodleHoldingCanvas"></script>

{% endblock %}
