
/* ==|== primary styles =====================================================
Author:
========================================================================== */

body {
  color: white;
}

h2 {
  padding: 0 15px;
}

.discreet {
  -webkit-transition: all 0.5s ease-in-out;
  -khtml-transition:  all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
  transition:         all 0.5s ease-in-out;
}

#shareOnGithub img {
  position: absolute;
  top:    0;
  right:  0;
  border: 0;
  z-index: 40;
}

header {
  position: absolute;
  top:  0;
  left: 0;
  z-index: 20;
  /*border: 1px dotted white;*/
}

#whoami {
  padding: 20px;
  text-align: center;
}

#whoami h1,
#whoami h2 {
  font-family: 'Handwriting', Arial, sans-serif;
  font-weight: normal;
  line-height: 0.6em;
}

#whoami h1 {
  font-size: 5em;
}

#whoami h2 {
  font-size: 4em;
}

#whoami h1 .discreet,
#whoami h2 .discreet {
  font-size: 0;
}

#whoami:hover h1 .discreet,
#whoami:hover h2 .discreet {
  font-size: 1em;
}

#doodleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  cursor: crosshair;
}




#controls {
  position: absolute;
  right:  13px;
  bottom: 13px;
  z-index: 30;
}

#controls .hiddenSmall {
  display: none !important;
  visibility: hidden;
}

#controls .button {
  display: block;
  width:  64px;
  height: 64px;

  margin: 5px;
  border-radius:         32px;
  -moz-border-radius:    32px;
  -webkit-border-radius: 32px;
  border: 2px solid white;
  color: #fff;
  background: #000;
  line-height: 64px;
  text-align: center;
  text-decoration: none;

  font-family: 'Handwriting', Arial, sans-serif;
  font-size:   3em;
}

#controls #buttonSave {

}

#controls .button:hover,
#controls .button:focus,
#controls .button.selected {
  background-color: #fff;
  color: #000;
}

#controls #buttonSend {
}

#controls #buttonView {
}

#controls #buttonDown {
}



#formSend {
  position: absolute;
  z-index: 40;
  left: -230px;
  width: 200px;
  font-size: 0.8em;
}

#formSend textarea {
  width:   100%;
  padding: 3px;
  border: 0;
}

#formSend input[type=submit] {
  display: block;
  width: 62%;
  text-align: center;
  margin:  5px auto 0 auto;
  padding: 3px;
}





@font-face {
  font-family: 'Handwriting';
  src: url('../font/jellyka_estrya_handwriting-webfont.eot');
  src: url('../font/jellyka_estrya_handwriting-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/jellyka_estrya_handwriting-webfont.woff') format('woff'),
       url('../font/jellyka_estrya_handwriting-webfont.ttf') format('truetype'),
       url('../font/jellyka_estrya_handwriting-webfont.svg#QRTitle') format('svg');
  font-weight: normal;
  font-style:  normal;
}

/* ==|== media queries ======================================================
EXAMPLE Media Query for Responsive Design.
This example overrides the primary ('mobile first') styles
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
