<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

{% block og %}
        <meta property="og:title" content="Goutte's Hangout" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://antoine.goutenoir.com/" />
        <meta property="og:image" content="https://antoine.goutenoir.com/img/speaker/yoda.png" />
        <meta property="og:image:alt" content="Picture of the face of a old, green alien with glasses and a gentle smile." />
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/main.css") }}">
        {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
        {{ encore_entry_script_tags('app') }}
{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
